body {
  margin:0;
  padding:0;
}
h1 {
  font-weight: 200;
  text-align: center;
  padding: 30px;
  font-size: 40px;
}
p.h1-subtext {
  font-size: 18px;
  text-align: center;
  font-weight: 200;
  padding-left: 10px;
  padding-right: 10px;
}
.col-md-12 {
  padding: 0;
}
u {
  text-decoration: none;
  border-bottom: 1px solid black;
}
#menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  width: 70%;
  padding-bottom: 30px;
}
.dish {
  padding-bottom: 20px;
}
.course {
  clear:both;
  float: left;
  overflow:hidden;
}
.courseheader {
  font-size: 30px;
  text-align: center;
  clear:both;
  padding: 30px;
}
.dishname {
  text-align: center;
  clear:both;
  padding-bottom: 5px;
  font-size: 20px;
}
.dishdesc {
  text-align: center;
  clear:both;
  padding-bottom: 5px;
}
.dishprice {
  text-align: center;
  clear:both;
  padding-bottom: 5px;
}
.wrapper {
  width: 100%;
}
.container-fluid {
  padding: 0;
  width: 100%;
}
.navbar-default {
  width: 100%;
}
.navbar {
  margin-bottom: 0;
  padding: 5px;
}
.navbar-brand {
  font-size: 28px;
  font-family: 'Dancing Script', cursive;
}
.jumbotron {
  text-align: center;
}
.jumbotron h1 {
  font-family: 'Dancing Script', cursive;
}
.card {
  text-align: center;
}
h4.card-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 22px;
}
img.img-responsive.center-block{
  padding: 20px;
}
img.img-responsive {
  padding: 0;
}
img {
  padding: 10px;
}
p.card-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  padding: 10px;
}
fieldset {
  margin: 10px;
}
.well-sm {
  padding: 10px;
}
#contact-form {
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
input:focus:required:invalid {
  background-color: pink;
  border: 1px solid red;
  color: white;
}
input:required:valid {
  background-color: white;
  color: black;
}
.error {
  color: red;
  padding-top: 10px;
}
.message {
  text-align: center;
  font-size: 18px;
}
#map
{
  height: 300px;
  width: 100%;
  border: 1px solid black;
}
.map
{
  margin-top: 60px;
  display: inline-block;
}
#contact-container {
  padding: 20px;
}
.fa, .fa-user, .bigicon{
  width: 14px;
  height: 14px;
}
.form-control {
  resize: none;
}
.form-horizontal {
}
.form-horizontal .form-group {
  display: flex;
}
.dish-heading{
  font-size: 30px;
  list-style-type: none;
  text-align: center;
  padding: 10px;
}
.menu-page {
  list-style-type: none;
  text-align: center;
  font-weight: 200;
  padding: 0;
}
.gallery-items {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  font-weight: 200;
}
.about {
  padding: 20px;
  font-weight: 200;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

/*media queries*/
@media screen and (min-width:768px) {
  #map {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) and (min-width: 520px) {
  #footer {
    padding: 40px;
  }
  .footer h3 {
    padding: 5px;
  }
  a.collapsed {
    border: 0;
    text-align: left;
    border-style: none;
    border-collapse: separate;
    background-color: inherit;
  }
  .form-horizontal {
    margin-right: 0;
  }
  #map
  {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 520px) {
  #footer {
    padding: 25px;
  }
  .footer h3 {
    padding: 5px;
  }
  a.collapsed {
    border: 0;
    text-align: left;
    border-style: none;
    border-collapse: separate;
    background-color: inherit;
  }
  .form-horizontal {
    margin-right: 0;
  }
  .navbar-brand {
    font-size: 20px;
  }
  #map
  {
    margin-bottom: 15px;
  }
}
